h3 {

    font-size: 25px !important;
}


.btn-success:hover {

    background-color: red;
    animation-name: identifier;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes identifier{
    0% {
       background-color:  red;
    }

    12.5% {
       background-color:  orange;
    }

    25% {
       background-color: yellow;
    }

    37.5% {
       background-color: rgb(0, 255, 0);
    }

    50% {
       background-color: rgb(0, 255, 255);
    }

    62.5% {
       background-color: blue;
    }

    75% {
        background-color: purple;
    }

    87.5% {
       background-color: rgb(255, 0, 255);
    }

    100% {
        background-color: red;
    }
}



canvas {
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    margin-top:50px;
}

@keyframes example {
    0% {
        box-shadow: 1px 1px 50px red;
    }

    12.5% {
        box-shadow: 1px 1px 75px orange;
    }

    25% {
        box-shadow: 1px 1px 50px yellow;
    }

    37.5% {
        box-shadow: 1px 1px 75px rgb(0, 255, 0);
    }

    50% {
        box-shadow: 1px 1px 50px rgb(0, 255, 255);
    }

    62.5% {
        box-shadow: 1px 1px 50px blue;
    }

    75% {
        box-shadow: 1px 1px 80px purple;
    }

    87.5% {
        box-shadow: 1px 1px 50px rgb(255, 0, 255);
    }

    100% {
        box-shadow: 1px 1px 80px red;
    }

    
}